body {
  background-color: #ffe4e1; /* Misty rose */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

/*Styles for back animation*/
.fade-out {
  animation: fadeOut 0.2s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
