#root {
  margin: 0 auto;
  text-align: left;
}

/*Styles for back animation*/
.fade-out {
  animation: fadeOut 0.2s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Weave */
/*.custom-shape-divider-bottom {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  overflow: hidden;*/
/*  line-height: 0;*/
/*  transform: rotate(180deg);*/
/*}*/
/**/
/*.custom-shape-divider-bottom-1735638272 svg {*/
/*  position: relative;*/
/*  display: block;*/
/*  width: calc(132% + 1.3px);*/
/*  height: 252px;*/
/*}*/
/**/
/*.custom-shape-divider-bottom-1735638272 .shape-fill {*/
/*  fill: #f0cff1;*/
/*}*/
